.category {
  margin-top: 82px;
}
.category .category-slider {
  display: flex;
  gap: 20px;
  overflow: auto;
}

.category .category-slider button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 10px;
  background-color: transparent;
  border: none;
  color: #fff;
}

.category .category-list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 13px;
  margin-top: 20px;
  margin-bottom: 80px;
}
.category .category-list .category-card img {
  width: 100%;
  border-radius: 16px;
}
