<div class="category">
    <div class="category-slider">
        <button (click)="getCategory('35')">Comedy</button>
        <button (click)="getCategory('80')">Crime</button>
        <button (click)="getCategory('10751')">Family</button>
        <button (click)="getCategory('18')">Drama</button>
        <button (click)="getCategory('27')">Horror</button>
        <button (click)="getCategory('10749')">Romance</button>
        <button (click)="getCategory('878')">Science</button>
    </div>
    <div class="category-list">
        <div *ngFor="let user of getJsonValue.slice(0,12); index as i">
            <a class="category-card" [routerLink]="['/detail', user.id]" (click)="onSelect(user.id)">
                <img src="{{IMG_API}}{{user.poster_path}}" alt="">
            </a>
        </div>
    </div>
</div>