.container {
  width: 768px;
  max-width: 96%;
  margin-left: auto;
  margin-right: auto;
  padding: 11px 16px;
}
.detail .detail-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  margin-top: 25px;
}
.detail-main {
  margin-top: 28px;
}
.detail-main .detail-image {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 0 0 16px 16px;
}
.detail-main .detail-poster {
  display: flex;
  align-items: flex-end;
  margin-top: -70px;
  gap: 12px;
}
.detail-main .detail-poster img {
  width: 95px;
  height: 120px;
  object-fit: cover;
  border-radius: 16px;
}
.detail-main .detail-poster p {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
.detail-main .detail-info {
  display: flex;
  padding: 8px 12px;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.detail-main .detail-info div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6.5px;
  color: #92929d;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  padding-right: 10px;
}
.detail-main .detail-info div:nth-child(1),
.detail-main .detail-info div:nth-child(2) {
  border-right: 1px solid #696974;
}
.detail-main .detail-info div img {
  color: #92929d;
}

.detail-main .detail-select {
  display: flex;
  margin-top: 34px;
  gap: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.detail-main .detail-select div {
  padding-bottom: 14px;
}

.detail-main .detail-select .active {
  border-bottom: 4px solid #3a3f47;
}
