<div class="container">
    <app-top-bar></app-top-bar>
    <div class="detail">
        <div class="detail-top">
            <a href="/"><img src="../../assets/arrow-left.svg" alt=""></a>
            <p>Detail</p>
            <img src="../../assets/Vector.svg" alt="">

        </div>
    </div>
</div>
<div class="detail-main">
    <div class="detail-image
    ">
        <img src={{IMG_API}}{{getDetailJson.poster_path}} alt="">
    </div>
    <div class="detail-poster container">
        <img src={{IMG_API}}{{getDetailJson.backdrop_path}} alt="">
        <p>{{getDetailJson.original_title}}</p>
    </div>
    <div class="detail-info">
        <div>
            <img src="../../assets/CalendarBlank.svg" alt="">
            {{getDetailJson.release_date.slice(0,4)}}
        </div>
        <div>
            <img src="../../assets/Clock.svg" alt="">
            {{getDetailJson.runtime}} Minutes
        </div>
        <div>
            <img src="../../assets/Ticket.svg" alt="">
            {{getDetailJson.genres[0].id === 28 ? "Action" : "Other"}}
        </div>
    </div>
    <div class="detail-select container">
        <div class="about" (click)="selectDetail('About')" class="{{detailSelect === 'About' ? 'active'  :''}}">About
            Movie</div>
        <div class="reviews" (click)="selectDetail('Reviews')" class="{{detailSelect === 'Reviews' ? 'active'  :''}}">
            Reviews</div>
        <div class="cast" (click)="selectDetail('Cast')" class="{{detailSelect === 'Cast' ? 'active'  :''}}">Cast</div>
    </div>
    <div class="container">
        <div *ngIf="detailSelect === 'About'" class="about-movie">
            {{getDetailJson.overview}}
        </div>
        <div *ngIf="detailSelect === 'Reviews'" class="reviews-movie">
            <div *ngFor="let review of getReviewsJson" class="reviews">
                <div class="review-left">
                    <img src={{IMG_API}}{{review.author_details.avatar_path}} alt="">
                    <p>{{review.author_details.rating}}</p>
                </div>
                <div class="review-right">
                    <p class="author-name">{{review.author}}</p>
                    <p class="content">{{review.content.slice(0,100)}} ...</p>
                </div>
            </div>
        </div>
        <div *ngIf="detailSelect === 'Cast'" class="cast-movie">
            <div class="cast" *ngFor="let cast of getCastJson">
                <img src={{IMG_API}}{{cast.profile_path}} alt="">
                <p>{{cast.name}}</p>
            </div>
        </div>
    </div>
</div>