.watch-list .watch-list-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  margin-top: 25px;
}
.watch-list .watch-list-top .visible-img {
  visibility: hidden;
}
.search-watchListJson {
  display: flex;
  gap: 12px;
  margin-top: 24px;
  padding: 0 10px;
  margin-top: 52px;
}
.search-watchListJson {
  text-decoration: none;
  color: #fff;
}
.search-watchListJson .watchListJson-img img {
  width: 95px;
  height: 120px;
  border-radius: 16px;
}
.search-watchListJson .watchListJson-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.search-watchListJson .watchListJson-info .title {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  margin-bottom: 15px;
}
.search-watchListJson .watchListJson-info .star,
.search-watchListJson .watchListJson-info .year,
.search-watchListJson .watchListJson-info .category {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  gap: 5.5px;
}
.no-movie {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 252px;
  height: 164px;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
}
.no-movie .text1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.no-movie .text2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #92929d;
}
