<div class="container">
    <div class="top-bar">
        <div class="hours">9:41</div>
        <div class="telephone-icon">
            <i class="fa-solid fa-signal"></i>
            <i class="fa-sharp fa-solid fa-wifi"></i>
            <i class="fa-solid fa-battery-full"></i>
        </div>
    </div>
    <h2 class="title">What dou you want to watch?</h2>
    <div class="search-input">
        <input type="text" placeholder="Search">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>

    <app-slider></app-slider>
</div>
<app-tabbar></app-tabbar>